doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:wght@400;600;700&family=Poppins:wght@500&family=Tinos:wght@700&display=swap" rel="stylesheet")
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="./css/style.css")
        script(src="./js/swiper-bundle.js") 

    body
        .container
          include slidersection.pug
          include section1.pug
          include section2.pug
          include section3.pug
          include section4.pug
        section.sport-section
          include section5.pug
          include section6.pug
          
        script(src="./js/main.js") 