.sport-section_col
    .sport-section_wrapper
        .sport-section_img
            img(src="./img/running.png", alt="running")
        .sport-section_content 
            h2.sport-section_title Laufbekleidung für den Herbst
            .sport-section_btn 
                a(href="#") Jetzt entdecken