//- .swiper 
//-     .swiper-wrapper 
//-         .swiper-slide 
//-             img(src="./img/hand.png", alt="hand")
//-         .swiper-slide 
//-             img(src="./img/hand.png", alt="hand")
//-         .swiper-slide 
//-             img(src="./img/hand.png", alt="hand")