.slider
    .swiper 
        .swiper-wrapper 
            .swiper-slide
                .slider-box
                    img(src="./img/menu1.png", alt="menu1")
            .swiper-slide
                .slider-box
                    img(src="./img/menu2.png", alt="menu2")
            .swiper-slide
                .slider-box
                    img(src="./img/menu3.png", alt="menu3")
            .swiper-slide
                .slider-box
                    img(src="./img/menu4.png", alt="menu4")
            .swiper-slide 
                .slider-box
                    img(src="./img/menu5.png", alt="menu5")
            .swiper-slide 
                .slider-box
                    img(src="./img/menu6.png", alt="menu6")
            .swiper-slide
                .slider-box
                    img(src="./img/menu1.png", alt="menu1")
            .swiper-slide
                .slider-box
                    img(src="./img/menu2.png", alt="menu2")
